[submodule "PlasBin-flow-pangenome"]
	path = PlasBin-flow-pangenome
	url = git@github.com:msgr0/PlasBin-flow-pangenome.git
[submodule "PlasEval"]
	path = PlasEval
	url = git@github.com:acme92/PlasEval.git
