//global_defaults


trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss'
manifest.defaultBranch = 'main'

process.storeDir="${params.output}/"

params {

    dataset = null // dataset folder with subfolders for pipeline.nf
    samples = null // samples csv for pipeline.nf
    output = null
    
    pangenome = true
    assemblers = false

    pangenome_seedlen = 1000
    pangenome_seedscore = 0.5
    pangenome_minplaslen = 1000

    assembly_seedlen = 2650
    assembly_seedscore = 0.58
    assembly_minplaslen = 3000

    pan_release = '1.1.0'

    pggb_params_file = "$projectDir/pangenome-params.json"

}

profiles {
    login {
        process.executor = 'slurm'
        process.memory='1g'
        process.cpus='1'
        process.time='5m'
    }
0
    slurm {
        params.executor = "slurm" 
        params.panexec = "apptainer"
        // executor.perCpuMemAllocation = true 
        clusterOptions = '--account def-chauvec'
        executor.queueSize=500
    }

    docker {
        docker.enabled = true
        conda.endabled = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        params.panexec = "docker"
    }
    conda {
        conda.enabled          = true
        process.conda      = "$projectDir/config/pangebin-p310.yaml"
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
                params.panexec = "conda"
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        process.conda      = "$projectDir/config/pangebin-p310.yaml"
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
                params.panexec = "mamba"

    }
    tower {
        trace.enabled = true
    }
}
