//global_defaults

trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss'
manifest.defaultBranch = 'main'

process.errorStrategy = 'ignore'

params {
    input = null
    tmp = null
    output = null

    pan = false
    pbf = false
    gt = false
    eval = false
    all = false

    pangenome = true
    assemblers = false
    cutlen = 1


    seed_len = 1000
    seed_score = 0.5
    min_plen = 1000


}

profiles {

    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true

        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
    }

    tower {
        trace.enabled = true
    }
}
