//global_defaults

trace.fields = 'task_id,name,status,exit,realtime,%cpu,rss'
manifest.defaultBranch = 'main'

process.errorStrategy = 'ignore'
process.storeDir="${params.output}/"
process.cache = 'lenient'

params {

    input = null // single sample input for main.nf
    dataset = null // dataset folder with subfolders for pipeline.nf
    samples = null // samples csv for pipeline.nf
    tmp = null
    output = null
    cutlen = 1

//    pan = false
//   pbf = false
//    gt = false
//    eval = false
//    all = false

    pangenome = true
    panexec = "apptainer"
    assemblers = false


    pangenome_seedlen = 1000
    pangenome_seedscore = 0.5
    pangenome_minplaslen = 1000

    assembly_seedlen = 2650
    assembly_seedscore = 0.58
    assembly_minplaslen = 3000

    pan_release = '1.1.0'

    pggb_params_file = "$projectDir/pangenome-params.json"

}

profiles {
    slurm {
        executor.perCpuMemAllocation = true
        clusterOptions = '--account def-chauvec'
    }
    docker {
        docker.enabled = true
        conda.endabled = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        params.panexec = "docker"
    }
    conda {
        conda.enabled          = true
        process.conda      = "$projectDir/config/pangebin-p310.yaml"
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
                params.panexec = "conda"
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        process.conda      = "$projectDir/config/pangebin-p310.yaml"
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        channels               = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled      = false
                params.panexec = "mamba"

    }
    tower {
        trace.enabled = true
    }
}
